@charset "utf-8";

:root {
  --main-color: #1E046B;
  --sitemap-h2:rgba(200, 193, 183, 0.603);
  --sitemap-bg:rgba(144, 139, 132, 0.2);
  --sitemap-dtborder:#1A0659;
  --sitemap-dd:#c8c1db;
  --sitemap-ddon:#9685a9;
  --styleguide_h2:#E76C69;
  --conh2-bg:#FFDC3E;
  --conh2-color: #00005B; 
}