@charset "utf-8";

:root {
  --main-color: #5392DA;
  --sitemap-h2:rgba(200, 193, 183, 0.603);
  --sitemap-bg:rgba(144, 139, 132, 0.2);
  --sitemap-dtborder:#4c5fc2;
  --sitemap-dd:#80a4c6;
  --styleguide_h2:#E76C69;
  --conh2-bg:#f8c3d8;
  --conh2-color: #1C2B3D; 
}