@charset "utf-8";


@media screen and (max-width:1024px) {

  .wrap>div,
  .wrap>section {
    /* height: 1366px; */
  }

  .web,
  .app,
  .design {
    width: calc(100% - 112px);
    margin-left: 112px;
    align-items: center;
    justify-content: center;
  }

  .slide_nav_wrap .slide_h2 {
    width: 112px;
  }

  .slide_nav_all .slide_nav {
    display: none;
  }

  section .tit {
    margin: 0;
    text-align: center;
  }
  section .tit h2{
    font-size: 60px;
    margin-top: 50px;
  }
  section .info {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-top: 20px;
  }

  section.odd .info {
    flex-direction: column-reverse;
  }

  section .info .img_box img {
    width: 360px;
  }

  section .info .txt_box{
    transform: scale(.8);
  }
  .wrap>div.web_intro {
    display: none;
  }



  /* design */

  .swiper {
    padding-left: 150px;
    padding-right: 150px;
  }

  .swiper ul.swiper-wrapper>li.swiper-slide {
    margin-top: 260px;
    /* margin: 200px 150px; */
    transform: scale(1.2);
  }

  /* modal */
  .modal {
    width: 100%;
  }


  /* contact  */

  .contact .con {
    width: calc(100% - 85px);
    height: 1262px;
    margin-left: 85px;
    align-items: center;
    flex-direction: column;
  }

  .contact .con .left {
    position: absolute;
    transform: translateY(-22%) scale(.7);
    top: 22%;
  }

  .contact .con .right {
    height: 100%;
  }

  .contact .con .right h2 {
    transform: scale(.8);
  }
}



@media screen and (max-width:428px) {

  .all_menu ul {
    width: 100%;
  }

  .ham {
    transform: scale(.8);
    right: 20px;
    top: 45px;
  }

  .all_menu ul li {
    transform: scale(.5);
  }


  .wrap>div,
  .wrap>section {
    /* height: 926px; */
  }

  .web,
  .app,
  .design {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: flex-end;
  }

  .slide_nav_wrap {
    width: 100%;
    height: 110px;
  }

  .slide_nav_wrap .slide_h2 {
    width: 100%;
    height: 100%;
  }

  .slide_nav_wrap .slide_h2 h1 {
    width: 46px;
    height: 38px;
    bottom: 23px;
    left: 76%;
    transform: translateX(-76%);
  }

  .slide_h2 h2 {
    font-size: 40px;
    transform: rotate(0deg);
    padding-left: 20px;
    padding-top: 50px;
  }

  .slide_nav_wrap .slide_h2.contact {
    width: 100%;
  }

  .slide_h2.contact h2 {
    font-size: 28px;
  }



  section .info {
    width: 90%;
    height: 65%;
  }

  section .tit {
    width: 100%;
    margin-bottom: 20px;
  }

  section .tit h2 {
    font-size: 40px;
  }

  section .tit p {
    font-size: 18px;
  }

  section .info .txt_box {
    /* width: 100%; */
    transform: scale(.6);
  }

  section.even .tit {
    margin-bottom: 0;
  }

  section.even .info {
    margin-top: 0;
    margin-bottom: 80px;
  }

  section .info .btn_box {
    margin-top: 30px;
  }

  section .info .btn_box button {
    transform: scale(1.3);
    margin-left: 70px;
  }

  section .info .img_box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section .info .img_box img {
    width: 322px;
  }


  /* design */

  .swiper {
    padding-top: 200px;
    padding-left: 0;
  }

  .swiper ul.swiper-wrapper>li.swiper-slide {
    transform: scale(.7);
    margin: 0;
  }

  .swiper-pagination-bullet {
    font-size: 22px;
  }

  /* modal */
  .modal {
    width: 100%;
  }

  .modal .modal_content {
    width: 90%;
    height: 600px;
  }

  .modal iframe {
    width: 380px;
    height: 280px;
  }

  .link_open_btn {
    width: 80%;
    margin-top: 50px;
    font-size: 18px;
  }

  .link_open_btn img {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .ad_poster {
    width: 90%;
  }

  .modal7 .modal_content img {
    position: absolute;
    left: 40px;
    transform: scale(1.2);
    margin-top: 80px;
  }

  .modal8 .modal_content img {
    width: 100%;
    margin-top: 20px;
  }

  /* contact  */

  .contact_intro img {
    width: 250px;
  }

  .slide_nav_wrap .slide_h2.contact h1 {
    width: 50px;
    height: 38px;
    bottom: 23px;
    left: 76%;
    transform: translateX(-76%);
  }

  .contact .con {
    width: 100%;
    height: 926px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }

  .contact .con .left {
    position: absolute;
    transform: translateY(-22%) scale(.4);
    top: 22%;
  }

  .contact .con .right {
    height: 80%;
  }

  .contact .con .right h2 {
    width: 80%;
    height: 20%;
    transform: scale(.6);
    text-align: center;
  }

  .contact .con .right .mail_contact {
    width: 100%;
    height: 40%;
    transform: scale(.5);
  }

  .contact .con .right .mail_contact .mail {
    margin-bottom: 40px;
  }

  .contact .con .right .mail_contact form.send .send_btn {
    width: 200px;
    height: 100px;
    padding: 20px 0;
    font-size: 35px;
    border-radius: 50px;
  }

}