@charset "utf-8";

.wrap {
  width: 100%;
  overflow: hidden;
}

.wrap>div,
.wrap>section {
  height: 100vh;
}

button {
  cursor: pointer;
}

.ham {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 60px;
  right: 40px;
  cursor: pointer;
  z-index: 200;
}

.ham img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.ham img.on {
  display: block;
}

.all_menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #252525;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  left: 100%;
  top: 0;
  transition: .6s;
  display: flex;
  z-index: 1;
}

.all_menu.on {
  z-index: 180;
  left: 0;
}

.all_menu .line {
  width: 90%;
  height: 18px;
  background: #F2F2F2;
}

.all_menu ul {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #F2F2F2;
  font-size: 96px;
  font-weight: 800;
  text-align: center;
}

.all_menu ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all_menu ul li:hover {
  color: #252525;
}

.all_menu ul li p {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.all_menu ul li .menu_bg {
  height: 120px;
  position: absolute;
  transform-origin: center center;
}

.all_menu ul li:hover .menu_bg {
  display: block;
}

.all_menu ul li .menu_bg1 {
  width: 612px;
  background: #FB868D;
  display: none;
}

.all_menu ul li:hover .menu_bg1 {
  transform: rotate(-2deg);
}

.all_menu ul li .menu_bg2 {
  width: 386px;
  background: #FFDD63;
  display: none;
}

.all_menu ul li:hover .menu_bg2 {
  transform: rotate(2deg);
}

.all_menu ul li .menu_bg3 {
  width: 590px;
  background: #B9DD8B;
  display: none;
}

.all_menu ul li:hover .menu_bg3 {
  transform: rotate(-2deg);
}

.all_menu ul li .menu_bg4 {
  width: 700px;
  background: #D2A7ED;
  display: none;
}

.all_menu ul li:hover .menu_bg4 {
  transform: rotate(2deg);
}


.page {
  width: 100%;
  height: 100vh;
}

i.fa-angles-down {
  position: absolute;
  font-size: 60px;
  left: 50%;
  bottom: 60px;
  color: #A8C7FA;
  animation: iAni 1.2s infinite;
}

@keyframes iAni {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) translateY(-20px);
    opacity: .5;
  }

  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

section {
  position: relative;
  background: #d0d0d0;
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

section .tit {
  text-align: right;
  margin: 40px 200px 20px 0;
}

section.odd .tit {}

section.even .tit {}

section .tit h2 {
  font-weight: 700;
  font-size: 80px;
}

section .tit p {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.4px;
  font-family: "FreesentationB";
}

section .info {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* background: #ccc; */
  margin-right: 100px;
}

section .info .txt_box {
  width: 605px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  letter-spacing: -1.4px;
}

section .info .txt_box .txt {
  width: 100%;
  height: 250px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .info .txt_box .txt div {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}

section .info .txt_box .txt .making {}

section .info .txt_box .txt .making .period {
  width: 47%;
}

section.app .info .txt_box .txt .making .period {
  width: 50%;
}

section .info .txt_box .txt div .period p {}

section .info .txt_box .txt div .period p span {
  font-size: 16px;
  margin-right: 10px;
}

section .info .txt_box .txt .contribution strong {
  width: 250px;
}

section .info .txt_box .txt div .t_contri p {
  /*  width: 33.33%; */
  margin-left: 20px;
}

section .info .txt_box .txt div .t_contri p span {
  font-size: 20px;
  /* margin-right: 10px; */
}

section .info .txt_box .txt strong {
  font-weight: 600;
}

section .info .btn_box {
  width: 100%;
  text-align: right;
}

section .info .btn_box button {
  height: 45px;
  padding: 10px 20px;
  color: #252525;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  background: inherit;
  border: 4px solid #252525;
  border-radius: 61px;
  transition: .5s;
  margin-left: 12px;
}

section .info .btn_box button:hover {
  background: #252525;
  color: #F2F2F2;
}

section .info .btn_box button a {
  display: block;
  width: 100%;
  height: 100%;
}


section .info .img_box img {
  width: 640px;
  margin-top: 20px;
}



/* web */

.web_intro {
  background-image: url(../img/website/intro_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-size: cover; */
  background-color: #686868;
  color: #6b6b6b;
  overflow: hidden;
  position: relative;
}

.web_intro h2 {
  position: absolute;
  left: 32%;
  top: 16%;
  transform: translate(-32%, -16%);
  font-size: 70px;
}

.web_intro .address_bar {
  position: absolute;
  right: -7%;
  top: 40%;
  transform: translate(7%, -40%);
  width: 1502px;
  height: 184px;
  /* border: 10px solid #666262; */
  border-radius: 92px 0px 0px 92px;
  border-right: 0;
  display: flex;
  padding-left: 49px;
  align-items: center;
  color: #666262;
  background: #cbcbcb;
  font-weight: bold;
}

.web_intro .address_bar img {
  width: 80px;
  height: 80px;
  margin-right: 60px;
}

.web_intro .address_bar .address {
  display: flex;
  font-size: 70px;
}

.web_intro .address_bar .address p.typing-txt {
  display: none;
}

.web_intro .address_bar .address p.typing {
  display: inline-block;
}

.web_intro i {
  color: #666262;
}

.web1 {
  background: #e8e5f2;
}

.web1 h2 {
  color: #160643;
}

.web2 {
  background: #fdeef5;
}

.web2 h2 {
  color: #10589a;
}

.web3 {
  background: #eaeaf7;
}

.web3 h2 {
  color: #ee2c90;
}

.web4 {
  background: #d7edff;
}

.web4 h2 {
  color: #ff993a;
}

.web5 {
  background: #faf1ea;
}

.web5 h2 {
  color: #865327;
}

.web6 {
  background: #f5e8db;
}

.web6 h2 {
  color: #5c4d3c;
}



/* app */

.app1 {
  background: #f7f5e9;
}

.app1 h2 {
  color: #5B2801;
}

.app2 {
  background: #efedfa;
}

.app2 h2 {
  color: #640b94;
}



/* design */

.design_intro i {
  color: #330000;
}

.swiper {
  padding-top: 200px;
  padding-left: 220px;
  width: 100%;
  height: 100vh;
  background: #dbdbdb;
}

.swiper ul.swiper-wrapper {}

.swiper ul.swiper-wrapper>li.swiper-slide {}

.swiper ul.swiper-wrapper li.swiper-slide .tit {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  top: -30px;
  transform-origin: center center;
  padding: 17px 34px;
  background: #ffdd63d8;
}

.swiper ul.swiper-wrapper li.swiper-slide .tit h2 {
  font-size: 30px;
}

.swiper ul.swiper-wrapper>li.swiper-slide.type1 .tit {
  transform: rotate(-15deg);
  left: -50px;
}

.swiper ul.swiper-wrapper>li.swiper-slide.type2 .tit {
  transform: rotate(15deg);
  left: 300px;
}

.swiper ul.swiper-wrapper>li.swiper-slide.type3 .tit.l1 {
  left: 145px;
}

.swiper ul.swiper-wrapper>li.swiper-slide.type3 .tit.l2 {
  left: 140px;
}

.swiper ul.swiper-wrapper>li.swiper-slide.type3 .tit.l3 {
  left: 200px;
}

.swiper ul.swiper-wrapper li.swiper-slide .box {
  width: 528px;
  height: 516px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .img_box {
  width: 480px;
  height: 400px;
  background: #252525;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info {
  width: 480px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info .skills {
  display: flex;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info .more_btn {
  width: 186px;
  height: 56px;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info .more_btn button {
  width: 186px;
  height: 56px;
  background: #D2A7ED;
  border: 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.3px;
  line-height: 56px;
  transition: .6s;
  /* border-radius: 40px; */
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info .more_btn button:hover {
  border-radius: 50%;
  background: #FB868D;
  color: #f2f2f2;
}

.swiper ul.swiper-wrapper li.swiper-slide .box .info .more_btn button a {
  width: 100%;
  height: 100%;
  display: block;
}


.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  font-family: "Schibsted Grotesk", sans-serif;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #919191;
  font-size: 25px;
  font-weight: 700;
  background: inherit;
  opacity: 1;
  transition: .4s;
}

.swiper-pagination-bullet-active {
  background: #f2f2f2;
  color: #FB868D;
}


/* modal */

.modal {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 140px);
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.on {
  display: flex;
}

.modal .modal_content {
  width: 1000px;
  height: 700px;
  border-radius: 30px;
  background: #f2f2f2;
  position: relative;
}

.charactor_pdf,
.iden_pdf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal3 {}

.modal3 div {
  /* height: 2000px; */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: scroll;
}

.modal embed {
  width: 90%;
  height: 80%;
}

.modal iframe {
  width: 720px;
  height: 480px;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link_open_btn {
  display: flex;
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* line-height: 60px; */
  font-size: 22px;
  border: none;
  background: #FFDD63;
  font-family: "LaundryGo_B";
  padding: 20px 0;
  border-radius: 18px;
  transition: .4s;
}

.link_open_btn:hover {
  background: #D2A7ED;
}

.link_open_btn img {
  width: 200px;
}

.ad_poster {
  width: 80%;
  margin-top: 20px;
}

.modal7 .modal_content {
  overflow-y: scroll;
}

.infographics {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: 80%;
}

.modal8 .modal_content {
  padding: 40px 0;
  overflow-y: scroll;
}

.threeds {

  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.threeds img {
  width: 450px;
}

.close_btn {
  /*   position: fixed;
  right: 85px;
  top: 63px; */
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: url(../img/landing/close_btn.png) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  z-index: 100;
}









/* contact */



.contact {
  background: #F2F2F2;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.contact img.gmail,
.kakaotalk {
  position: absolute;
  width: 80px;
  animation: conAni 1.2s infinite;
}

.contact img.gmail {
  left: 51%;
  top: 47%;
  transform: translate(-51%, -47%);
}

.contact img.kakaotalk {
  left: 54%;
  top: 61%;
  transform: translate(-54%, -61%);
}

@keyframes conAni {
  0% {
    transform: translate(-50%, -50%) scale(.9);
  }

  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  60% {
    transform: translate(-50%, -50%) scale(.8);
  }

  75% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(.9);
  }
}

.contact .con {
  width: 1560px;
  height: 814px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .con .left {
  width: 708px;
  height: 794px;
  position: relative;
}

.contact .con .left .txt {
  width: 385px;
  height: 96px;
  position: absolute;
  top: 25px;
  left: 5px;
  background: #B9DD8B;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  line-height: 96px;
  transform: rotate(-7deg);
}

.contact .con .left .img_box {
  width: 484px;
  height: 645px;
  background: url(../img/main/profile_img.png);
  border-radius: 30px;
  margin: 74px auto;
}

.contact .con .left .circle {
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact .con .left .circle img.fixed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contact .con .left .circle img.c_ani {
  animation: cAni 6s linear infinite;
}

@keyframes cAni {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}


.contact .con .right {
  width: 743px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact .con .right h2 {
  width: 470px;
  height: 230px;
  font-size: 128px;
  font-weight: 600;
}

.contact .con .right h2 img {
  position: absolute;
}

.contact .con .right .contact_me {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact .con .right .contact_me .mail,
.kakao {
  position: relative;
  width: 682px;
  height: 79px;
  text-align: center;
}

.contact .con .right .contact_me .mail img,
.kakao img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact .con .right .contact_me .mail strong,
.kakao strong {
  line-height: 79px;
  font-size: 64px;
  font-weight: 800;
}


.kakao_open {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.kakao_open button{
  width: 200px;
  border: 0;
  transition: .4s;
}
.kakao_open button:hover{
  transform: scale(1.1);
}
.kakao_qr {
  width: 200px;
}